## 2 - Export Data Assessment (Surface Marker)

##### Imports

In [1]:
import os
import pandas as pd
import numpy as np
import scipy as su
# from typing import Dict
# from scipy.signal import
# from scikit-learn import

import matplotlib.pyplot as plt
import seaborn as sns

import dask.dataframe as dd

##### Data Loading

In [3]:
# Load ddfs into dictionary (exception for 'all_surf_pos', df)
root_dir = './aggregated_data'
def load_data(root_dir, exception=False):    # Get csv file reads into one dictionary
    data = {}
    for subdir, _, files in os.walk(root_dir):
        for file in files:
            file_path = os.path.join(subdir, file)
            file_name = os.path.splitext(file)[0]   #file name without '.csv'
            if file.endswith('.csv') and file != 'all_surf_positions_HiDrive_Studie2.csv':
                data[file_name] = dd.read_csv(file_path)    #read and attach to dict
            elif exception and file == 'all_surf_positions_HiDrive_Studie2.csv':
                data [file_name] = pd.read_csv(file_path, converters=converters)    #read as normal and attach to dict
    return data
def parse(filedata): # Manually read the column
    output = []
    for line in filedata.split('\n'): # split into lines
        line = line.strip().rstrip(']').lstrip('[') #remove whitespace and brackets
        if not line:
            continue    #skip empty lines
        line = line.split() #split into cell
        row = []
        for cell in line:
            cell = cell.strip()     #remove whitespace
            if not cell.strip():
                continue    #skip empty cells
            row.append(float(cell)) #convert to float and add
        output.append(row)
    return output
converters = {
    "img_to_surf_trans": parse,
    "surf_to_img_trans": parse,
    "dist_img_to_surf_trans": parse,
    "surf_to_dist_img_trans": parse,
}

data = load_data(root_dir)

In [4]:
participant_ids = [1,2,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
ddf = data['all_marker_detections'].iloc[:, 1:]
df = ddf.compute()

### 1. Inspection
Head & Tail,  Basic statistics,  Missing values

##### Head & tail

In [5]:
for pid in participant_ids:
    participant_df = df[df['participant_id'] == pid]
    display(f"Participant {pid}")
    display(participant_df.iloc[:, 1:].head())
    display(participant_df.iloc[:, 1:].tail())

'Participant 1'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
0,0,apriltag_v3:tag36h11:1,971.042725,258.254608,1049.783203,259.982056,1048.784668,166.900436,969.649658,161.385681
1,0,apriltag_v3:tag36h11:2,209.350296,655.269226,272.727875,664.739136,259.347137,592.107422,195.022385,585.496094
2,0,apriltag_v3:tag36h11:3,932.797302,639.523560,1001.866150,627.168945,1014.362915,560.695190,942.566711,572.812073
3,1,apriltag_v3:tag36h11:1,971.630249,258.455353,1050.323975,260.219086,1049.285522,167.173950,970.399658,161.750046
4,1,apriltag_v3:tag36h11:2,209.480438,654.764771,272.868225,664.289124,259.821350,591.766968,195.277679,584.860229

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
279310,116961,apriltag_v3:tag36h11:1,1137.503906,200.926498,1200.786133,213.872513,1201.607666,125.279564,1138.460083,107.637573
279311,116961,apriltag_v3:tag36h11:2,319.919250,563.245239,393.394958,573.792542,388.362091,494.033203,312.718262,486.560730
279312,116962,apriltag_v3:tag36h11:0,265.008392,183.293976,344.114441,173.725525,338.671082,77.942238,259.513214,92.602692
279313,116962,apriltag_v3:tag36h11:1,1137.971191,200.902542,1201.472412,213.842377,1201.791016,125.082176,1138.983521,107.642380
279314,116962,apriltag_v3:tag36h11:2,320.426910,563.360474,393.988525,573.985352,388.916107,494.292816,313.293488,486.541718

'Participant 2'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
279315,0,apriltag_v3:tag36h11:1,893.462769,269.815826,955.759399,281.957977,965.616516,214.757584,903.369812,201.177521
279316,0,apriltag_v3:tag36h11:2,259.986694,482.185944,314.133148,494.324982,318.722595,432.545532,263.776947,421.970917
279317,0,apriltag_v3:tag36h11:3,832.436951,552.365295,889.271423,557.565125,904.127625,510.333771,844.829102,504.676178
279318,1,apriltag_v3:tag36h11:1,902.282837,260.631653,965.173584,271.613159,973.555298,203.913513,910.860657,191.460800
279319,1,apriltag_v3:tag36h11:2,271.597046,486.674500,326.273926,497.773743,329.604828,435.665009,274.227905,426.236023

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
151258,90023,apriltag_v3:tag36h11:2,251.102524,611.679749,299.603638,611.594055,289.200867,556.527527,240.806519,558.066040
151259,90023,apriltag_v3:tag36h11:3,771.892639,551.546936,827.507935,542.240845,826.685120,495.323090,768.575195,505.353241
151260,90024,apriltag_v3:tag36h11:1,752.205750,282.773834,814.750854,276.343262,807.646606,211.730133,744.926392,217.497787
151261,90024,apriltag_v3:tag36h11:2,252.477753,612.981018,301.095398,613.017273,290.769562,558.314636,242.175644,559.604248
151262,90024,apriltag_v3:tag36h11:3,774.006470,553.224792,829.594666,543.626648,828.703003,496.890076,770.694946,506.924774

'Participant 4'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
151263,0,apriltag_v3:tag36h11:0,389.490082,223.097015,461.226471,223.276016,459.094879,144.283798,385.839996,147.156097
151264,0,apriltag_v3:tag36h11:1,1096.243164,283.715637,1152.878296,295.206146,1162.993042,222.918976,1106.156250,208.620834
151265,0,apriltag_v3:tag36h11:2,413.104645,531.467529,476.906555,541.542480,478.539276,477.357666,413.056458,468.777832
151266,1,apriltag_v3:tag36h11:0,387.789307,222.429703,459.744965,222.226120,457.341156,143.455780,384.328003,146.434250
151267,1,apriltag_v3:tag36h11:1,1094.951538,282.370087,1151.547852,294.059692,1162.018677,221.763489,1104.962280,207.422699

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
49164,81083,apriltag_v3:tag36h11:2,462.519501,405.084076,530.570312,417.088104,536.422668,348.548187,466.136719,337.933197
49165,81083,apriltag_v3:tag36h11:3,1075.818726,497.878052,1125.022583,510.339417,1146.311035,456.752045,1097.575928,443.850433
49166,81084,apriltag_v3:tag36h11:0,451.157898,82.275955,530.675049,84.148071,531.686157,2.853973,450.627258,4.251345
49167,81084,apriltag_v3:tag36h11:2,460.025330,407.394562,528.111389,419.534393,533.854614,350.815796,463.662018,340.375580
49168,81084,apriltag_v3:tag36h11:3,1073.878052,498.988129,1122.207886,511.153137,1144.492676,457.682770,1095.495850,444.919250

'Participant 5'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
49169,0,apriltag_v3:tag36h11:1,1085.791870,173.116577,1153.577026,195.373093,1162.469727,106.202385,1095.153931,78.721863
49170,0,apriltag_v3:tag36h11:2,189.738129,508.762024,262.002411,522.771179,257.966888,436.544067,183.504562,425.927002
49171,1,apriltag_v3:tag36h11:1,1086.425293,173.373016,1154.209106,195.607590,1162.773804,106.447655,1095.509521,78.880547
49172,1,apriltag_v3:tag36h11:2,190.512939,509.040771,262.913483,522.990479,258.639984,436.620636,184.239975,425.999451
49173,1,apriltag_v3:tag36h11:3,981.650635,566.252136,1049.053101,569.650757,1074.032593,498.208069,1005.698792,494.148712

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
245523,100844,apriltag_v3:tag36h11:3,211.905365,465.113708,282.560181,440.144562,268.816223,364.367371,194.117508,389.992249
245524,100849,apriltag_v3:tag36h11:3,209.596771,470.999268,279.611847,443.915863,262.289154,368.592407,188.451309,396.275269
245525,100850,apriltag_v3:tag36h11:3,213.685852,471.388611,283.684235,444.399933,266.176727,369.173126,192.195282,396.966980
245526,100852,apriltag_v3:tag36h11:3,225.392868,472.908905,295.707397,445.791321,277.811523,370.602081,203.586624,398.682526
245527,100853,apriltag_v3:tag36h11:3,232.140900,473.832123,302.667603,446.842102,284.672943,371.722443,210.258072,399.748718

'Participant 6'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
245528,0,apriltag_v3:tag36h11:1,957.418274,205.413651,1024.968994,212.957291,1025.360596,136.532440,957.433899,127.159744
245529,0,apriltag_v3:tag36h11:2,287.098114,518.060364,347.394501,524.979187,343.251984,457.154755,282.849579,452.549957
245530,1,apriltag_v3:tag36h11:0,267.734955,197.812195,331.606598,192.114105,329.313690,116.383095,265.429993,124.916245
245531,1,apriltag_v3:tag36h11:1,976.745178,206.709366,1041.590576,223.097687,1045.538940,140.692398,978.321411,130.230316
245532,1,apriltag_v3:tag36h11:2,299.349854,513.344849,360.229828,520.787354,358.346039,452.931519,296.261841,447.582031

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
163087,96774,apriltag_v3:tag36h11:3,1180.283569,470.990631,1226.539062,491.702606,1247.219727,427.983154,1201.448486,406.374390
163088,96775,apriltag_v3:tag36h11:2,589.028137,291.900970,653.004700,309.998901,668.672180,240.025208,603.320435,224.358109
163089,96775,apriltag_v3:tag36h11:3,1178.380371,469.818665,1227.184692,491.732208,1243.823853,425.929840,1199.945068,405.504669
163090,96776,apriltag_v3:tag36h11:2,587.621460,291.998383,651.750488,310.080109,667.145752,240.085022,601.679138,224.352615
163091,96776,apriltag_v3:tag36h11:3,1177.999512,469.284790,1223.238281,489.443665,1247.436523,427.251892,1199.156738,404.737122

'Participant 7'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
163092,0,apriltag_v3:tag36h11:0,188.180267,215.499985,253.013397,206.531464,252.366333,123.744278,187.348221,136.207642
163093,0,apriltag_v3:tag36h11:1,959.189636,198.730286,1030.391357,204.801453,1028.005371,123.032516,957.508057,114.045036
163094,0,apriltag_v3:tag36h11:2,229.811661,563.316956,293.406555,571.119446,287.251862,496.699799,223.152176,491.854095
163095,0,apriltag_v3:tag36h11:3,926.658447,564.101685,993.330933,560.682251,1004.105530,492.283173,935.394592,495.190094
163096,1,apriltag_v3:tag36h11:0,223.466965,210.526382,290.290100,202.897400,290.088806,119.643166,223.234146,130.655716

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
114959,95269,apriltag_v3:tag36h11:2,365.018768,456.379120,425.141296,464.257050,428.097412,397.546844,367.241791,391.470490
114960,95269,apriltag_v3:tag36h11:3,979.684265,500.868652,1038.025024,505.069580,1049.926636,441.657318,990.008972,437.032501
114961,95270,apriltag_v3:tag36h11:0,354.558502,150.516312,417.201569,146.201401,417.725037,76.314659,355.450470,82.985825
114962,95270,apriltag_v3:tag36h11:1,1017.493896,177.463562,1079.244629,187.690018,1079.034546,116.329086,1017.474121,104.660316
114963,95270,apriltag_v3:tag36h11:2,364.833435,456.280396,425.000732,464.130615,427.976654,397.411835,367.156891,391.433472

'Participant 8'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
114964,0,apriltag_v3:tag36h11:0,178.454788,249.332077,248.687332,247.186127,252.577789,153.783981,181.691620,160.721542
114965,0,apriltag_v3:tag36h11:1,1018.529358,290.216949,1090.079712,299.028992,1095.021606,209.518707,1024.309937,197.129211
114966,0,apriltag_v3:tag36h11:2,211.887375,620.163818,278.961517,636.185059,275.078857,559.730408,206.783051,546.510437
114967,0,apriltag_v3:tag36h11:3,945.655151,664.538330,1013.085754,661.337158,1032.102295,594.616943,962.596008,597.019958
114968,1,apriltag_v3:tag36h11:0,179.143921,250.845276,249.730865,248.583344,253.313904,155.331985,182.440048,162.139236

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
353780,95836,apriltag_v3:tag36h11:2,291.392700,633.737671,358.895538,652.443604,363.786194,579.888184,294.737122,563.370361
353781,95836,apriltag_v3:tag36h11:3,989.099304,705.266663,1050.391602,703.175415,1070.977173,639.296753,1007.711853,641.006958
353782,95837,apriltag_v3:tag36h11:0,291.846069,280.825836,363.981445,284.590088,371.514099,197.324356,298.800201,197.016327
353783,95837,apriltag_v3:tag36h11:2,291.259369,634.578308,358.750031,653.464539,363.687500,581.096191,294.694824,564.234680
353784,95837,apriltag_v3:tag36h11:3,988.820312,705.973267,1050.328491,703.817566,1070.724854,640.216248,1007.867371,641.395020

'Participant 9'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
353785,0,apriltag_v3:tag36h11:0,196.636978,292.250061,258.525238,288.521637,258.539917,207.199783,196.794464,214.510910
353786,0,apriltag_v3:tag36h11:1,947.750183,290.057556,1022.035950,292.854248,1022.683899,208.805328,949.028381,203.204544
353787,0,apriltag_v3:tag36h11:2,231.460999,624.902710,291.641449,636.207397,287.343597,566.736755,226.686432,558.036926
353788,0,apriltag_v3:tag36h11:3,908.512268,648.142090,976.588501,643.980469,988.556580,578.017395,918.080383,581.879822
353789,1,apriltag_v3:tag36h11:0,187.878159,295.151947,249.410690,291.975586,248.998581,210.656784,187.423508,217.739838

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
311461,97013,apriltag_v3:tag36h11:2,428.718994,568.831116,486.590881,585.869080,498.514435,524.009644,439.948761,508.734528
311462,97013,apriltag_v3:tag36h11:3,1013.977783,672.978088,1068.297241,677.993652,1088.045898,619.119507,1032.173340,613.859009
311463,97014,apriltag_v3:tag36h11:1,1088.244629,361.961090,1145.587158,371.950684,1153.206055,299.707275,1096.504028,288.134766
311464,97014,apriltag_v3:tag36h11:2,427.961334,568.941223,485.489838,586.035400,497.683075,524.255371,438.851318,508.888184
311465,97014,apriltag_v3:tag36h11:3,1013.114868,672.934021,1067.453125,677.943481,1087.298096,619.053467,1031.327271,613.761841

'Participant 10'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
311466,0,apriltag_v3:tag36h11:0,171.421326,234.035812,242.762375,223.026535,239.909912,129.797379,168.741531,145.767456
311467,0,apriltag_v3:tag36h11:1,1032.086914,203.629333,1104.193237,209.444489,1100.125610,120.742973,1028.830322,110.622520
311468,0,apriltag_v3:tag36h11:2,233.263550,614.065125,302.925507,623.518677,293.420959,543.952820,222.742096,538.074707
311469,0,apriltag_v3:tag36h11:3,990.963928,597.955383,1059.126831,590.715820,1073.007935,519.681396,1002.955200,526.004578
311470,1,apriltag_v3:tag36h11:0,172.260452,233.060593,243.671127,222.066177,240.727921,128.878784,169.424896,144.928802

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
226629,98429,apriltag_v3:tag36h11:3,827.902161,251.897034,885.354126,253.354477,886.371338,195.156769,828.043884,191.919006
226630,98430,apriltag_v3:tag36h11:2,297.441650,277.139069,347.742004,275.291321,346.434784,218.132629,295.969574,221.500122
226631,98430,apriltag_v3:tag36h11:3,832.245605,266.060242,889.440063,268.642059,890.679138,210.141220,832.667725,207.697510
226632,98431,apriltag_v3:tag36h11:2,301.785065,287.340454,352.239685,285.793701,351.039764,228.434158,300.698547,231.416672
226633,98431,apriltag_v3:tag36h11:3,836.077759,278.897644,893.208679,281.492401,894.662964,223.097168,836.691833,220.553406

'Participant 11'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
226634,0,apriltag_v3:tag36h11:1,954.522461,216.681976,1025.383423,211.287811,1031.112305,138.982422,961.524536,126.879364
226635,0,apriltag_v3:tag36h11:2,275.439301,504.353821,335.043243,510.493195,330.223022,444.885498,269.334167,440.707764
226636,0,apriltag_v3:tag36h11:3,903.418518,523.822571,965.455139,527.104797,978.997681,468.007111,914.532166,464.649994
226637,1,apriltag_v3:tag36h11:1,956.022217,205.127411,1025.325439,214.955780,1031.568970,138.881149,961.921265,126.841393
226638,1,apriltag_v3:tag36h11:2,275.778931,503.999207,335.341003,510.182220,330.587463,444.401001,269.697540,440.484619

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
169464,96620,apriltag_v3:tag36h11:2,200.978363,613.379028,256.360809,619.001770,245.842438,555.324463,189.743225,551.582947
169465,96620,apriltag_v3:tag36h11:3,818.324890,600.714417,883.607361,596.965698,890.181335,536.810852,822.423828,541.074402
169466,96621,apriltag_v3:tag36h11:1,843.084351,280.551361,917.124146,281.013763,917.829590,202.319519,843.466919,199.651993
169467,96621,apriltag_v3:tag36h11:2,204.178879,616.645386,260.038940,622.663452,249.639725,559.191162,193.274994,555.214111
169468,96621,apriltag_v3:tag36h11:3,823.339294,604.975830,888.541626,601.035522,895.324402,541.529785,827.312805,545.628662

'Participant 12'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
169469,0,apriltag_v3:tag36h11:0,186.867599,250.646408,249.259094,240.469482,242.709320,161.399384,180.144409,174.953857
169470,0,apriltag_v3:tag36h11:1,929.949646,205.844635,1002.065002,208.964890,1000.998535,129.528336,928.972839,124.086624
169471,0,apriltag_v3:tag36h11:2,249.483170,573.839966,309.955048,577.892456,300.256653,509.387421,238.910706,508.053619
169472,0,apriltag_v3:tag36h11:3,905.943542,548.508484,971.163086,544.529907,979.552368,481.089935,912.087158,485.105469
169473,1,apriltag_v3:tag36h11:0,185.948837,249.537109,248.317734,239.440308,241.727737,160.399261,179.150864,174.021393

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
108042,96568,apriltag_v3:tag36h11:2,307.594696,650.209229,368.341949,652.512512,356.814636,588.731995,295.359283,588.598083
108043,96568,apriltag_v3:tag36h11:3,931.748413,591.653870,992.801147,582.108337,996.711548,522.417786,933.899475,532.162598
108044,96569,apriltag_v3:tag36h11:1,936.002075,267.504211,1002.908325,263.500397,996.867065,188.525299,929.736267,190.839447
108045,96569,apriltag_v3:tag36h11:2,309.422821,644.513794,370.334869,646.716797,359.069550,582.910583,297.456573,582.827393
108046,96569,apriltag_v3:tag36h11:3,934.145020,586.364380,994.867310,577.202759,998.923767,517.447998,936.153503,526.865540

'Participant 13'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
108047,0,apriltag_v3:tag36h11:1,1007.739319,251.432770,1078.786621,252.579803,1075.557129,167.234314,1004.671143,163.451981
108048,0,apriltag_v3:tag36h11:2,293.211914,630.448730,357.857910,637.377319,348.924866,567.232422,283.053375,562.766235
108049,0,apriltag_v3:tag36h11:3,977.991089,607.767944,1042.651123,600.972046,1053.501587,535.982544,986.761536,542.609558
108050,1,apriltag_v3:tag36h11:1,1007.012573,250.367294,1078.269287,251.602692,1074.942871,166.459396,1004.078064,162.456650
108051,1,apriltag_v3:tag36h11:2,292.957611,630.187500,357.665039,637.042419,348.342407,566.912170,282.742035,562.641968

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
358749,109564,apriltag_v3:tag36h11:2,385.603882,589.420898,448.854218,595.432434,444.235718,529.138000,379.838531,525.044373
358750,109565,apriltag_v3:tag36h11:1,1056.056885,249.893448,1120.338623,252.505554,1118.091187,173.104767,1053.680908,168.305450
358751,109565,apriltag_v3:tag36h11:2,385.920013,589.362366,449.215515,595.353882,444.530182,529.133057,380.314178,524.917725
358752,109566,apriltag_v3:tag36h11:1,1056.444580,250.072784,1120.641846,252.867020,1118.604004,173.467560,1054.319580,168.648590
358753,109566,apriltag_v3:tag36h11:2,386.066498,589.061707,449.356628,595.227417,444.671631,528.911926,380.379669,524.660461

'Participant 14'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
358754,0,apriltag_v3:tag36h11:0,262.692169,195.229614,325.738159,186.223373,321.326965,112.659065,258.388245,124.321465
358755,0,apriltag_v3:tag36h11:1,953.092102,172.931625,1019.122742,178.422058,1017.878906,105.224388,951.875244,97.859009
358756,0,apriltag_v3:tag36h11:2,305.202301,504.305206,365.755005,507.479370,360.639648,440.663116,299.246094,439.216888
358757,0,apriltag_v3:tag36h11:3,928.309753,494.678589,989.471375,494.000366,997.816101,432.008209,935.019104,432.377228
358758,1,apriltag_v3:tag36h11:1,951.454468,172.543839,1017.617554,178.219162,1016.115051,104.746964,950.114380,97.475273

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
258941,103239,apriltag_v3:tag36h11:2,404.691986,485.546844,465.152954,489.592041,463.829865,426.113434,402.988708,423.691193
258942,103240,apriltag_v3:tag36h11:1,1011.835144,197.191605,1070.644409,193.842712,1069.370361,129.090286,1012.377136,121.723518
258943,103240,apriltag_v3:tag36h11:2,404.806335,483.397644,465.239014,487.378082,464.097321,423.781738,403.108978,421.354797
258944,103241,apriltag_v3:tag36h11:1,1013.626099,188.567230,1071.288208,194.688568,1070.002563,127.784676,1012.429443,120.174683
258945,103241,apriltag_v3:tag36h11:2,405.236633,481.952026,465.490784,485.897064,464.769897,422.339996,403.616333,419.909302

'Participant 15'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
258946,0,apriltag_v3:tag36h11:0,163.433884,244.679443,228.226151,242.387665,231.107224,153.507523,166.296112,160.212921
258947,0,apriltag_v3:tag36h11:1,984.571411,288.475739,1061.078613,298.232361,1067.866455,207.922333,991.882874,194.511780
258948,0,apriltag_v3:tag36h11:2,196.435669,598.548523,258.474609,614.536255,254.991074,540.965698,191.661011,528.157410
258949,0,apriltag_v3:tag36h11:3,910.277344,661.325928,980.373352,661.123474,999.448669,595.085876,926.838562,594.815857
258950,1,apriltag_v3:tag36h11:0,164.789719,243.157379,229.454376,241.463226,232.605240,152.172180,167.490784,158.852432

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
169151,98273,apriltag_v3:tag36h11:1,961.350281,227.292130,1029.384033,234.100449,1031.457520,155.922119,963.823792,146.771729
169152,98273,apriltag_v3:tag36h11:2,261.685730,556.873474,324.668823,563.978638,320.335114,493.597015,256.039642,488.628265
169153,98274,apriltag_v3:tag36h11:0,223.478683,225.501801,290.198364,219.319016,289.028778,138.434845,222.491302,147.700027
169154,98274,apriltag_v3:tag36h11:1,960.628723,238.918427,1029.878662,230.704178,1031.733887,156.236023,964.518005,147.186493
169155,98274,apriltag_v3:tag36h11:2,261.817749,556.608337,325.036499,563.834778,320.545258,493.592041,256.240845,488.388397

'Participant 16'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
169156,0,apriltag_v3:tag36h11:0,244.646606,230.654312,305.049469,229.378052,304.461090,155.358902,242.979355,159.602020
169157,0,apriltag_v3:tag36h11:1,933.892517,270.120331,1001.650391,280.142456,1010.901123,205.616379,942.760742,194.063065
169158,0,apriltag_v3:tag36h11:2,273.252594,525.423706,329.694397,534.958435,328.319305,472.697327,270.671021,465.044769
169159,0,apriltag_v3:tag36h11:3,873.684814,573.901917,933.944214,578.918274,948.615051,522.943726,885.977356,517.921387
169160,1,apriltag_v3:tag36h11:0,244.311066,230.345688,305.009216,228.519440,304.160767,154.647629,242.828125,159.194946

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
178848,111915,apriltag_v3:tag36h11:2,280.032501,475.550507,338.199524,483.696533,336.730591,418.713837,277.174927,412.411133
178849,111915,apriltag_v3:tag36h11:3,899.007507,524.433044,960.631836,531.230530,976.559326,472.907043,912.324219,465.806641
178850,111916,apriltag_v3:tag36h11:1,962.517822,209.656448,1031.517944,222.625122,1040.302734,146.348358,970.964417,131.448120
178851,111916,apriltag_v3:tag36h11:2,280.133942,475.286438,338.322723,483.435028,336.791199,418.573608,277.260620,412.174805
178852,111916,apriltag_v3:tag36h11:3,899.122131,524.463379,960.683044,531.306824,976.649658,472.895142,912.500793,465.817780

'Participant 17'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
178853,0,apriltag_v3:tag36h11:0,240.509872,272.513611,315.105652,271.967316,313.504547,180.294220,238.035187,185.306900
178854,0,apriltag_v3:tag36h11:1,1050.598877,317.060822,1116.286499,325.777527,1126.181885,242.087158,1061.097778,230.168854
178855,0,apriltag_v3:tag36h11:2,283.219330,617.276978,350.673157,629.686584,347.024689,559.719604,277.592926,548.929932
178856,0,apriltag_v3:tag36h11:3,967.000183,649.963074,1028.164795,649.208557,1048.209229,590.348389,985.032104,590.709045
178857,1,apriltag_v3:tag36h11:0,243.953171,270.088409,318.632050,269.784698,317.283051,178.023727,241.513687,182.930222

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
187072,96391,apriltag_v3:tag36h11:3,967.232422,659.006531,1029.569214,656.086670,1048.326782,596.365967,983.992249,599.053223
187073,96392,apriltag_v3:tag36h11:0,223.823578,294.036072,297.618256,292.008514,294.361237,199.967834,219.458298,205.999832
187074,96392,apriltag_v3:tag36h11:1,1044.129883,318.706329,1111.347412,325.150665,1119.232422,240.086319,1052.450317,230.268219
187075,96392,apriltag_v3:tag36h11:2,275.934509,638.881836,343.668396,650.900818,337.965576,581.042603,268.319397,571.012146
187076,96392,apriltag_v3:tag36h11:3,968.141418,657.085449,1030.291870,654.245178,1049.328979,594.684631,984.795898,597.172058

'Participant 18'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
187077,0,apriltag_v3:tag36h11:0,202.961456,252.884705,280.089722,257.328186,289.490234,158.624756,211.682800,158.926163
187078,0,apriltag_v3:tag36h11:1,1060.924316,353.505371,1127.242065,364.999084,1138.804321,276.598297,1073.964478,260.940674
187079,0,apriltag_v3:tag36h11:2,216.070023,636.095947,286.697693,657.543274,287.241547,580.651550,214.854141,561.667969
187080,0,apriltag_v3:tag36h11:3,956.376465,714.810181,1021.143005,713.563110,1045.740723,650.387207,979.350525,650.804565
187081,1,apriltag_v3:tag36h11:0,200.997421,257.332397,277.830414,261.570587,286.724915,162.863174,209.137634,163.122116

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
209663,107248,apriltag_v3:tag36h11:1,1151.727173,395.291687,1206.269775,409.780457,1221.346924,330.071198,1167.423340,312.813965
209664,107248,apriltag_v3:tag36h11:2,383.911896,593.624451,451.086151,616.181580,463.556305,546.870850,394.377808,526.109558
209665,107249,apriltag_v3:tag36h11:0,410.831451,252.330414,486.594055,262.643463,497.738464,176.354019,420.857178,169.369827
209666,107249,apriltag_v3:tag36h11:2,384.089630,593.806519,451.151428,616.379211,463.696442,547.117310,394.388885,526.382080
209667,107250,apriltag_v3:tag36h11:2,384.059448,593.783142,451.101807,616.282776,463.606506,547.079529,394.320190,526.324951

'Participant 19'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
209668,0,apriltag_v3:tag36h11:0,84.644836,295.563690,158.413666,285.618805,150.196915,168.562988,76.684456,187.960480
209669,0,apriltag_v3:tag36h11:1,1119.133789,268.047760,1191.770508,274.742493,1192.853271,168.085770,1121.904663,153.989258
209670,0,apriltag_v3:tag36h11:2,193.645432,707.460205,266.600433,721.244385,248.582458,642.347290,173.144501,629.354065
209671,0,apriltag_v3:tag36h11:3,1027.360962,691.705017,1096.915405,679.733032,1121.312500,609.992126,1049.413940,621.587769
209672,1,apriltag_v3:tag36h11:0,25.911097,338.706451,91.216827,330.206604,83.716629,214.415268,18.298174,231.720627

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
48913,100469,apriltag_v3:tag36h11:2,710.791626,463.431519,782.802307,488.044556,800.779846,412.237335,725.193420,389.359222
48914,100470,apriltag_v3:tag36h11:0,722.850891,96.600906,810.638977,106.637413,810.598755,11.671686,721.210327,6.127400
48915,100470,apriltag_v3:tag36h11:2,705.074280,468.502747,776.912781,493.053864,794.928467,417.355438,719.526123,394.641632
48916,100471,apriltag_v3:tag36h11:0,716.003540,103.247856,803.578369,113.248070,804.160339,18.179089,715.192810,12.582260
48917,100471,apriltag_v3:tag36h11:2,697.547058,475.295807,769.076111,499.600281,787.177490,424.477081,711.978821,401.467651

'Participant 20'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
48918,0,apriltag_v3:tag36h11:1,1018.894653,288.310272,1088.242554,287.919067,1091.940918,205.865387,1024.575684,195.899124
48919,0,apriltag_v3:tag36h11:2,275.301056,602.054016,340.768951,613.717102,337.845917,541.888977,270.975037,532.551697
48920,0,apriltag_v3:tag36h11:3,961.281555,632.561707,1025.089966,629.966980,1040.510254,565.127258,974.602051,567.250610
48921,1,apriltag_v3:tag36h11:0,241.495483,257.229523,311.393219,254.164261,311.053284,167.849304,240.903732,174.641907
48922,1,apriltag_v3:tag36h11:1,1020.903931,289.421021,1089.427856,287.183960,1093.012939,205.849808,1025.380371,195.614120

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
359317,104720,apriltag_v3:tag36h11:2,424.011597,312.966492,492.358459,327.143341,504.460022,253.568939,434.673218,241.561310
359318,104720,apriltag_v3:tag36h11:3,1063.538452,445.726288,1116.334839,461.107849,1137.967529,399.452667,1084.459473,382.452332
359319,104721,apriltag_v3:tag36h11:1,1146.526001,127.470039,1199.325195,154.158203,1206.661011,87.858521,1154.953247,59.386562
359320,104721,apriltag_v3:tag36h11:2,418.960327,312.880981,487.658752,326.275909,498.872070,252.515976,429.081329,241.052704
359321,104721,apriltag_v3:tag36h11:3,1061.401001,440.721191,1114.740234,455.838013,1135.800293,393.621948,1081.950928,377.288147

##### Basic statistics
-

In [6]:
for pid in participant_ids:
    participant_df = df[df['participant_id'] == pid]
    display(f"Participant {pid}")
    display(participant_df.iloc[:, 1:].describe())

'Participant 1'

,world_index,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
count,279315.000000,279315.000000,279315.000000,279315.000000,279315.000000,279315.000000,279315.000000,279315.000000,279315.000000
mean,53594.603727,616.398553,426.243525,688.134257,428.768162,687.228207,344.419710,614.578669,342.025042
std,33874.142841,394.594067,200.080088,393.171321,202.262675,400.666018,213.116598,402.352592,212.435915
min,0.000000,2.187053,24.360525,58.048580,46.234356,39.513950,-13.004531,-1.566993,-3.774724
25%,23959.500000,233.592293,249.184425,307.080139,249.444214,298.374039,150.411682,223.882950,150.532707
50%,50995.000000,437.632751,435.645020,520.250549,438.764130,525.213745,350.533203,439.494415,345.319794
75%,81848.000000,1004.200836,624.728943,1077.649414,629.762970,1083.800476,557.816437,1009.609985,552.942169
max,116962.000000,1229.624756,723.023315,1278.932129,732.559875,1281.454834,723.388428,1239.081177,721.905151

'Participant 2'

,world_index,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
count,233950.000000,233950.000000,233950.000000,233950.000000,233950.000000,233950.000000,233950.000000,233950.000000,233950.000000
mean,48898.905292,599.982591,493.152767,660.605038,497.219592,662.971190,432.633997,601.383173,428.721349
std,25745.944927,315.386431,150.982595,319.186777,152.516203,323.633174,161.838016,319.672680,161.426136
min,0.000000,2.330472,4.629794,22.551439,5.494884,0.895114,1.184230,-0.480664,2.040964
25%,27876.000000,270.165680,335.122986,327.576920,337.176826,325.294266,260.970360,267.018250,258.824875
50%,51413.000000,783.164276,566.583649,844.847748,570.572357,850.917755,514.388519,787.075867,510.890228
75%,70859.000000,884.159927,621.214752,946.374939,626.088425,953.926056,568.681366,890.428146,564.859741
max,90024.000000,1224.438477,722.253845,1264.856445,725.320251,1275.092529,707.447876,1242.637451,708.796448

'Participant 4'

,world_index,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
count,260798.000000,260798.000000,260798.000000,260798.000000,260798.000000,260798.000000,260798.000000,260798.000000,260798.000000
mean,42298.208928,663.370353,377.288924,727.470454,382.906356,733.447668,313.173365,668.174522,307.353160
std,22651.841478,346.875246,158.881219,344.442843,158.894892,352.893785,167.001892,355.695205,167.634691
min,0.000000,3.935423,3.663594,14.731071,11.006165,20.829819,-0.104530,-0.767201,0.183057
25%,23435.000000,291.481003,217.775166,358.605019,224.951614,354.771408,146.991123,286.047180,138.703300
50%,42699.000000,884.542877,470.646317,946.871613,476.243347,961.633759,409.742966,897.110077,405.392059
75%,61830.750000,974.797653,526.386826,1035.037231,531.397339,1050.187836,469.143311,988.263153,464.646652
max,81084.000000,1244.079346,662.823853,1243.699097,664.365662,1256.591187,654.709717,1252.163086,650.294250

'Participant 5'

,world_index,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
count,196359.000000,196359.000000,196359.000000,196359.000000,196359.000000,196359.000000,196359.000000,196359.000000,196359.000000
mean,49382.444925,538.623190,405.084633,612.984333,416.954436,619.743108,325.808251,544.478441,314.537821
std,29532.624625,428.735809,173.855770,426.323635,173.655448,437.033925,182.107843,440.350372,183.371001
min,0.000000,0.874149,5.035817,14.563356,5.821618,15.670010,-5.915851,-3.142501,-7.788109
25%,24060.500000,150.015373,248.226395,227.349319,259.410660,223.031975,159.797775,143.304565,146.253265
50%,48419.000000,290.455475,413.630432,377.381348,424.460419,386.606262,331.454132,297.405243,322.662231
75%,75037.000000,981.832550,558.999420,1056.697693,570.386597,1076.560364,487.114838,1000.826538,476.746536
max,100853.000000,1237.673706,723.186646,1277.169556,735.499023,1299.613647,712.981995,1245.211182,717.784668

'Participant 6'

,world_index,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
count,279437.000000,279437.000000,279437.000000,279437.000000,279437.000000,279437.000000,279437.000000,279437.000000,279437.000000
mean,48201.810243,653.882537,378.495046,718.056130,384.356512,721.730623,311.372865,656.821630,305.513448
std,28091.265878,356.887013,176.488710,357.101581,176.669053,361.021631,181.450316,360.835957,182.268325
min,0.000000,10.071767,54.963703,53.646103,48.780918,49.266808,-1.369917,8.944686,-3.283839
25%,23794.000000,301.008575,220.887329,365.380737,222.781128,365.381378,143.766571,299.954681,141.330429
50%,48292.000000,803.081360,416.972870,874.658020,424.570374,879.706299,350.623047,806.889099,345.527710
75%,72720.000000,998.713013,545.627869,1062.043701,554.553406,1071.251709,485.903961,1006.635437,478.576111
max,96776.000000,1227.827271,719.128296,1277.070312,730.994568,1277.672974,711.621399,1235.875732,712.932373

'Participant 7'

,world_index,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
count,313410.000000,313410.000000,313410.000000,313410.000000,313410.000000,313410.000000,313410.000000,313410.000000,313410.000000
mean,46873.806745,648.590224,419.939093,716.364685,422.534020,718.642066,343.636138,650.008241,341.044474
std,27388.116992,378.723079,186.517516,379.528604,188.063305,383.991471,194.018078,383.019483,193.770521
min,0.000000,7.909268,-3.918936,-17.572998,4.423043,18.066216,-1.350388,-1.004118,-1.464701
25%,23664.000000,256.951607,217.788513,323.687279,217.477837,321.780937,131.415176,254.240448,130.289917
50%,46104.500000,894.813599,528.277313,967.793518,534.968628,974.256714,458.256058,897.820648,453.825897
75%,70282.000000,994.560074,583.534348,1064.189728,587.232513,1070.796814,514.008942,1001.028366,511.653046
max,95270.000000,1231.523315,717.891907,1277.618164,720.283386,1277.462769,715.569885,1236.541626,712.633362

'Participant 8'

,world_index,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
count,238821.000000,238821.000000,238821.000000,238821.000000,238821.000000,238821.000000,238821.000000,238821.000000,238821.000000
mean,45757.187839,477.604941,526.213048,547.372804,533.828272,552.816178,452.120345,482.083010,445.803395
std,28851.336011,374.661308,184.692774,373.080158,188.539582,378.712561,199.160184,380.438413,195.388098
min,0.000000,99.110992,4.926854,126.729218,3.050581,82.206131,8.983690,82.726997,14.652755
25%,20912.000000,202.119324,322.384796,274.198151,325.247131,276.284027,232.396744,204.074051,230.713898
50%,44032.000000,226.073730,660.103149,296.367004,678.133179,296.024689,602.688171,224.505264,585.779724
75%,70928.000000,963.057739,687.645142,1029.463989,701.502563,1048.887817,629.774475,980.307983,615.589172
max,95837.000000,1269.766113,734.023560,1267.029541,726.342590,1265.135132,706.278564,1263.602173,716.074463

'Participant 9'

,world_index,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
count,319398.000000,319398.000000,319398.000000,319398.000000,319398.000000,319398.000000,319398.000000,319398.000000,319398.000000
mean,48779.516998,642.232047,465.992433,708.093449,469.371874,711.732693,395.107057,645.330820,391.802860
std,27947.769236,359.869886,177.238080,360.119364,178.661470,363.906485,185.209407,363.740782,184.557128
min,0.000000,3.087911,2.904832,24.803778,3.908665,24.761356,-0.292062,2.579704,1.918306
25%,24112.000000,272.683022,281.548492,339.274147,284.274971,339.612808,203.307262,271.996849,199.178455
50%,49046.000000,861.189117,571.228973,931.458038,580.430573,936.281250,508.686279,864.731415,501.072784
75%,73280.000000,980.914917,627.893967,1046.602142,632.601791,1055.502441,564.832596,989.610779,560.568466
max,97014.000000,1230.528320,720.864929,1277.716309,735.017029,1280.471069,697.414185,1255.690430,708.554077

'Participant 10'

,world_index,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
count,277277.000000,277277.000000,277277.000000,277277.000000,277277.000000,277277.000000,277277.000000,277277.000000,277277.000000
mean,47360.022299,580.898097,406.413351,652.300291,407.253957,649.022625,322.446127,577.185803,322.218488
std,28625.319425,402.087998,207.970679,399.793108,210.899869,404.079815,217.287280,406.531089,215.609188
min,0.000000,1.315436,31.322678,30.503633,38.130013,8.657505,-1.849006,-1.405440,-2.584657
25%,22182.000000,228.508667,213.238144,301.138672,211.939880,291.711182,121.430649,218.607910,120.397972
50%,46379.000000,295.841125,324.494720,372.771271,320.224213,369.039978,230.351242,291.029358,234.488724
75%,71484.000000,1022.262024,618.266174,1091.582642,617.490112,1093.481567,541.811829,1023.161072,543.815430
max,98431.000000,1235.952271,720.455627,1277.633545,721.861328,1281.932251,671.688171,1244.996338,695.879333

'Participant 11'

,world_index,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
count,302273.000000,302273.000000,302273.000000,302273.000000,302273.000000,302273.000000,302273.000000,302273.000000,302273.000000
mean,50747.654776,653.405778,414.921845,716.785634,420.516969,722.607266,352.401067,658.116352,346.382830
std,27153.413986,334.320370,154.988042,336.120208,156.254540,342.695687,162.821201,340.876739,162.940597
min,0.000000,19.975758,4.907901,47.219120,10.563126,28.097557,-1.153043,-14.186481,-14.767275
25%,29683.000000,296.204285,260.514618,357.411499,266.826721,356.780273,190.169281,294.011566,179.288803
50%,51675.000000,869.318298,448.895844,935.230103,456.902924,947.155029,394.303192,879.189636,385.774750
75%,74083.000000,956.926086,557.940918,1021.066833,565.216980,1033.925171,502.963196,968.650391,496.671509
max,96621.000000,1250.805176,718.730652,1276.588867,720.147339,1280.314087,712.785034,1255.778076,716.897156

'Participant 12'

,world_index,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
count,298802.000000,298802.000000,298802.000000,298802.000000,298802.000000,298802.000000,298802.000000,298802.000000,298802.000000
mean,47046.829847,654.223019,399.262798,721.160255,402.488679,722.880539,328.301341,654.989965,324.876328
std,27593.037960,363.577140,181.667242,364.525105,181.339992,371.900048,188.517149,371.060477,190.160965
min,0.000000,6.052257,3.399872,0.291658,10.045197,4.180155,-3.181615,-0.556631,-3.488842
25%,23025.000000,261.171577,212.596802,326.308693,215.657448,320.626862,133.041592,253.346207,128.259411
50%,46757.500000,865.097565,475.750793,935.825745,480.526047,943.290222,410.417267,870.198395,406.422882
75%,70057.000000,972.353729,560.828629,1040.570374,564.094803,1050.753998,496.275681,981.280045,494.124298
max,96569.000000,1225.733765,720.688171,1277.709839,720.198792,1282.317383,716.338745,1241.747314,704.951172

'Participant 13'

,world_index,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
count,250707.000000,250707.000000,250707.000000,250707.000000,250707.000000,250707.000000,250707.000000,250707.000000,250707.000000
mean,51710.219328,653.310934,393.234029,722.135310,393.855717,717.834345,313.572198,648.320368,312.702661
std,31828.442273,382.857525,193.270895,381.778694,194.655186,387.269811,201.072054,388.625600,201.590013
min,0.000000,5.275011,1.873600,12.651374,8.376484,19.110453,-14.050311,-2850.200439,-77.514320
25%,23480.000000,287.336121,199.790092,357.317596,198.217529,348.434296,111.073254,277.452515,108.617756
50%,49741.000000,424.448792,427.262207,497.397430,427.149872,495.049652,345.298218,420.539032,346.419067
75%,78677.500000,1039.986755,565.839783,1108.246460,566.636444,1111.237000,493.987854,1042.441284,493.308105
max,109566.000000,1258.203857,730.405457,1277.662109,728.498108,1278.109863,711.759644,1271.243896,715.478516

'Participant 14'

,world_index,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
count,259251.000000,259251.000000,259251.000000,259251.000000,259251.000000,259251.000000,259251.000000,259251.000000,259251.000000
mean,50961.392168,678.064585,333.221490,740.878822,336.327445,740.283261,266.976965,677.047873,263.823760
std,30829.025516,333.343535,163.687731,332.124172,162.477519,335.735542,165.302835,337.306696,167.840264
min,0.000000,92.910507,27.959484,126.794495,34.506058,118.520020,-2.082795,85.925858,-3.055583
25%,22388.000000,338.052979,162.145241,403.069702,165.717789,399.095078,92.384296,334.058319,87.298355
50%,49706.000000,885.194214,414.927979,952.290588,415.134369,951.206787,346.893585,884.070312,348.113892
75%,78615.000000,997.069153,479.014648,1057.806091,481.461121,1062.843750,414.240524,1002.321838,412.870468
max,103241.000000,1257.108765,719.420105,1254.904907,720.135986,1259.684692,685.107910,1251.753052,690.331970

'Participant 15'

,world_index,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
count,270486.000000,270486.000000,270486.000000,270486.000000,270486.000000,270486.000000,270486.000000,270486.000000,270486.000000
mean,49386.556036,595.241175,429.876890,662.772163,436.708357,666.714996,359.440148,598.411310,352.277216
std,28343.616197,377.436494,181.317936,382.375906,182.687621,389.679156,190.589189,384.902822,190.935587
min,0.000000,1.912276,8.899717,50.912998,7.640808,33.271317,-2.513630,-1.881080,-5.036843
25%,24978.000000,201.689247,246.776913,263.529945,250.252811,259.547348,164.423897,197.267563,157.961651
50%,49675.500000,792.801788,503.837250,870.587280,519.057800,871.765625,444.290237,791.021820,431.405380
75%,74023.000000,946.802658,594.650650,1019.720718,600.602478,1032.294739,530.792755,958.605667,525.857025
max,98274.000000,1253.158936,718.302124,1277.586548,724.239624,1279.453613,668.016602,1239.725220,717.911255

'Participant 16'

,world_index,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
count,370061.000000,370061.000000,370061.000000,370061.000000,370061.000000,370061.000000,370061.000000,370061.000000,370061.000000
mean,54945.402174,609.024353,325.487725,671.370229,333.722413,678.142682,267.189865,614.707844,259.148282
std,32599.468601,324.852556,152.863227,329.290834,152.691788,335.589459,158.234393,331.091560,158.884473
min,0.000000,27.894402,13.976349,19.279177,9.428742,18.350021,-0.339712,26.487188,-1.419528
25%,26440.000000,246.505035,175.216766,304.653198,180.034271,303.466034,106.660606,244.743820,102.429131
50%,54452.000000,843.358887,373.077423,906.080811,378.685730,920.673828,313.993408,855.477478,310.430634
75%,83302.000000,902.307190,462.875061,971.889954,471.644623,981.922729,409.641418,912.164001,402.025513
max,111916.000000,1157.288330,719.104065,1212.167725,714.886230,1222.299683,722.217285,1165.345215,717.660461

'Participant 17'

,world_index,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
count,368259.000000,368259.000000,368259.000000,368259.000000,368259.000000,368259.000000,368259.000000,368259.000000,368259.000000
mean,49261.694595,643.842169,458.363144,711.230256,464.377932,718.889241,388.144234,650.431612,382.376479
std,27489.434941,376.608772,175.305597,372.863176,176.254856,381.189947,188.058635,385.464495,187.148613
min,0.000000,22.305063,-79.568108,7.045663,91.940140,3.010702,6.449800,15.569010,0.546418
25%,25640.000000,261.766388,283.775360,333.964615,288.424210,333.493256,201.016167,260.515762,195.677040
50%,49581.000000,909.903015,562.529968,975.067200,575.966187,993.127075,505.302734,925.207397,492.021667
75%,73017.000000,996.812439,626.331940,1058.515442,630.964569,1078.796326,566.212616,1015.740143,561.960480
max,96392.000000,1217.083984,720.684692,1269.887939,721.128235,1275.574219,714.539673,1229.539673,715.805054

'Participant 18'

,world_index,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
count,381724.000000,381724.000000,381724.000000,381724.000000,381724.000000,381724.000000,381724.000000,381724.000000,381724.000000
mean,54487.565175,584.505656,459.889458,655.658217,467.115050,664.740875,381.934580,592.923049,374.825589
std,30512.180755,417.951431,198.477710,415.433327,200.507747,422.017377,212.210548,425.186267,210.315655
min,0.000000,-0.440825,49.358315,21.755304,46.928368,4.371380,-5.265022,-0.212899,-0.284446
25%,27832.750000,175.530640,263.813148,247.765820,270.676414,248.848244,176.987896,174.563816,167.409386
50%,55717.500000,283.019073,577.032684,364.401505,596.075684,371.070480,513.466827,286.714752,496.943787
75%,80318.000000,996.952240,647.045456,1067.698334,658.491837,1083.733673,583.628677,1013.455444,573.129868
max,107250.000000,1226.306885,722.330444,1277.808472,721.414185,1281.472412,717.570679,1239.912842,719.395630

'Participant 19'

,world_index,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
count,197870.000000,197870.000000,197870.000000,197870.000000,197870.000000,197870.000000,197870.000000,197870.000000,197870.000000
mean,50488.921635,653.441755,423.360996,730.014747,425.123510,730.863390,330.263520,653.461388,328.621304
std,27895.623915,419.135717,194.851466,418.844715,197.066982,427.426381,211.203783,428.046257,209.907411
min,0.000000,-0.194068,13.801498,30.189011,20.451189,30.217623,-8.970974,-3.058805,-4.383344
25%,25593.000000,208.522625,254.619968,287.791580,254.431252,277.600311,144.383064,197.339695,143.621277
50%,53260.500000,875.327698,368.537003,961.972198,366.808426,967.023743,259.308456,877.670105,259.064240
75%,72979.000000,1031.532898,608.566895,1107.838989,613.877808,1119.260986,533.781937,1042.080933,529.667404
max,100471.000000,1224.317627,721.525574,1278.799072,738.090515,1282.644897,717.977783,1237.786255,709.622864

'Participant 20'

,world_index,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
count,310404.000000,310404.000000,310404.000000,310404.000000,310404.000000,310404.000000,310404.000000,310404.000000,310404.000000
mean,50399.544043,613.391156,403.657630,681.275888,409.554990,685.882722,331.334326,617.312187,324.946120
std,30578.360678,388.550740,183.504848,390.351498,183.901498,397.119960,190.552756,395.590780,191.616691
min,0.000000,3.162415,5.900505,14.853824,-696.932556,16.537979,-1.204548,0.426030,-3.097496
25%,23707.000000,201.269306,222.197262,267.624580,226.056358,262.738335,140.490967,196.166267,133.481476
50%,48972.000000,842.778809,466.127838,916.420074,474.656418,925.850098,398.217560,849.551117,390.434433
75%,77209.250000,969.775024,570.829483,1039.701477,577.773834,1052.405273,505.772141,982.584183,499.774811
max,104721.000000,1274.532837,722.669312,1274.032715,731.593140,1278.472412,712.279541,1257.703979,697.333191

##### Missing values
- No missing values

In [7]:
def missing_values(df):     # Compute missing values (count, pct and location)
    missing_data = df.isnull().sum()
    missing_percentage = ((missing_data / len(df)) * 100).apply(lambda x: f"{x:.2f}")
    missing_positions = df.apply(lambda x: ', '.join(str(idx) for idx in x.index[x.isnull()]), axis=0)

    missing_df = pd.DataFrame({     #create df to display
        'null_count': missing_data,
        'null_pct': missing_percentage,
        'location': missing_positions
    }).transpose()  # Transpose to have columns as indexes and new parameters as row indexes

    return missing_df

In [8]:
for pid in participant_ids:
    participant_df = df[df['participant_id'] == pid]
    display(f"Participant {pid}")
    display(missing_values(participant_df.iloc[:, 1:]))

'Participant 1'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
null_count,0,0,0,0,0,0,0,0,0,0
null_pct,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
location,,,,,,,,,,

'Participant 2'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
null_count,0,0,0,0,0,0,0,0,0,0
null_pct,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
location,,,,,,,,,,

'Participant 4'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
null_count,0,0,0,0,0,0,0,0,0,0
null_pct,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
location,,,,,,,,,,

'Participant 5'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
null_count,0,0,0,0,0,0,0,0,0,0
null_pct,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
location,,,,,,,,,,

'Participant 6'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
null_count,0,0,0,0,0,0,0,0,0,0
null_pct,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
location,,,,,,,,,,

'Participant 7'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
null_count,0,0,0,0,0,0,0,0,0,0
null_pct,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
location,,,,,,,,,,

'Participant 8'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
null_count,0,0,0,0,0,0,0,0,0,0
null_pct,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
location,,,,,,,,,,

'Participant 9'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
null_count,0,0,0,0,0,0,0,0,0,0
null_pct,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
location,,,,,,,,,,

'Participant 10'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
null_count,0,0,0,0,0,0,0,0,0,0
null_pct,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
location,,,,,,,,,,

'Participant 11'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
null_count,0,0,0,0,0,0,0,0,0,0
null_pct,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
location,,,,,,,,,,

'Participant 12'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
null_count,0,0,0,0,0,0,0,0,0,0
null_pct,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
location,,,,,,,,,,

'Participant 13'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
null_count,0,0,0,0,0,0,0,0,0,0
null_pct,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
location,,,,,,,,,,

'Participant 14'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
null_count,0,0,0,0,0,0,0,0,0,0
null_pct,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
location,,,,,,,,,,

'Participant 15'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
null_count,0,0,0,0,0,0,0,0,0,0
null_pct,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
location,,,,,,,,,,

'Participant 16'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
null_count,0,0,0,0,0,0,0,0,0,0
null_pct,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
location,,,,,,,,,,

'Participant 17'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
null_count,0,0,0,0,0,0,0,0,0,0
null_pct,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
location,,,,,,,,,,

'Participant 18'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
null_count,0,0,0,0,0,0,0,0,0,0
null_pct,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
location,,,,,,,,,,

'Participant 19'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
null_count,0,0,0,0,0,0,0,0,0,0
null_pct,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
location,,,,,,,,,,

'Participant 20'

,world_index,marker_uid,corner_0_x,corner_0_y,corner_1_x,corner_1_y,corner_2_x,corner_2_y,corner_3_x,corner_3_y
null_count,0,0,0,0,0,0,0,0,0,0
null_pct,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
location,,,,,,,,,,

### 2. (...)
(...)

##### (...)
-